h1,h3,h4 {
    font-family: 'Poppins', sans-serif;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(117deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.4717832957110609) 37%, rgba(0,212,255,1) 100%);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perfil article {
    float: right;
    width: 60%;


}
.perfil h1 {
    text-align: center;
}

.perfil {
    margin: 10px 100px;

}

header {
    color: azure;
    margin-top: 60px;
    text-align: center;
}

nav h1 {
    margin-left: 20px;
}

h3 {
    text-align: center;

}
h4 :hover {
    color: azure;
    justify-content: center;
    
}
.perfil img {

    margin-left: 5%;
    width: 90%;

}
aside{
    float: left;
    max-width: 30%;
}
.skills h3 {
    margin-top: 20px;
}

.skills img {
    width:  60px;
    height: 60px;
    border-radius: 150px;
    background-color: white;
}

.icons {
    display: flex;
    justify-content: center;
}

.link {
    display: flex;
    justify-content: center;
}
